<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Мой говносервер</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isIndex}}
                <li class="active"><a href="/">Главная</a></li>
            {{else}}
                <li><a href="/">Главная</a></li>
            {{/if}}

            {{#if isProducts}}
                <li class="active"><a href="/products">Продукция</a></li>
            {{else}}
                <li><a href="/products">Продукция</a></li>
            {{/if}}

            {{#if isCreate}}
                <li class="active"><a href="/create">Компилировать SCSS</a></li>
            {{else}}
                <li><a href="/create">Компилировать SCSS</a></li>
            {{/if}}
        </ul>
    </div>
</nav>