<form action="/compile_scss" method="POST" @submit="compileScss">
    <h2>Компилятор SCSS</h2>

    <div class="input-field">
        <input type="textarea" name="code" v-model="scss">
        <label>SCSS код</label>
    </div>

    <button type="submit" class="btn">Скомпилировать в CSS</button>
</form>
