<form action="/compile_scss" method="POST" @submit="compileScss">
    <h2>Компилятор SCSS</h2>

    <div>
        <textarea type="text" v-model="scss" placeholder="SCSS код"></textarea>
    </div>

    <button type="submit" class="btn">Скомпилировать в CSS</button>
</form>
