<h2>Мой говносервер</h2>
    <p>Здесь ничего не происходит</p>

<div v-html="message"></div>
<button class="btn btn-small" type="button" v-html="buttonText" @click="changeText"></button>

<button
    type="button"
    class="btn"
    @click="getProducts"
>
    Просмотреть список продуктов в базе
</button>
