<h2>Мой говносервер</h2>
    <p>Здесь ничего не происходит</p>

<div v-html="message"></div>
<button class="btn btn-small" type="button" v-html="buttonText" @click="changeText"></button>

<form action="/db_query/products" method="POST">
    <button type="submit" class="btn">Получить данные по продуктам</button>
</form>
