<div id="main">
  <h2>Занятный сервер</h2>
      <p>Здесь ничего не происходит</p>

  <div v-html="message"></div>
  <button class="btn btn-small" type="button" v-html="buttonText" @click="changeText"></button>

  <a href="/products" class="btn">Просмотреть список продуктов в базе</a>
</div>
