<h2>Список продуктов</h2>

{{#if results.length}}
    <ul class="ProductsList">
        {{#each results}}
            <li class="ProductsList__item">
                <span class="ProductsList__itemText">Позиция: {{id}}, наименование: {{name}}, цена: {{price}}</span>

                <button
                    type="button"
                    class="btn btn-small"
                    @click="removeProduct({{id}})"
                >
                    Удалить
                </button>
            </li>
        {{/each}}
    </ul>
{{/if}}