<h2>Результаты запроса</h2>

{{#if results.length}}
    <ul>
        {{#each results}}
            <li class="todo">
                <span>Позиция: {{id}}, наименование: {{name}}, цена: {{price}}</span>
            </li>
        {{/each}}
    </ul>
{{/if}}