<h2>Список продуктов</h2>

{{#if results.length}}
    <ul class="ProductsList">
        {{#each results}}
            <li class="ProductsList__item">
                <span class="ProductsList__itemText">Позиция: {{id}}, наименование: {{name}}, цена: {{price}}</span>

                <form action="/db_query/products/remove" method="POST">
                    <input type="hidden" name="id" value="{{id}}">
                    <button
                        type="submit"
                        class="btn btn-small"
                    >
                        Удалить
                    </button>
                </form>
            </li>
        {{/each}}
    </ul>
{{/if}}