<nav class="swiper-buttons">
  <button
      class="swiper-button swiper-button-prev"
      data-slider-arrow-prev
  >
    <svg width="13" height="22" viewBox="0 0 13 22" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 1L2 11L12 21" stroke-width="2"/>
    </svg>

  </button>

  <button
      class="swiper-button swiper-button-next"
      data-slider-arrow-next
  >
    <svg width="13" height="22" viewBox="0 0 13 22" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 21L11 11L1 0.999999" stroke-width="2"/>
    </svg>
  </button>
</nav>
