@mixin button-base-state($state) {
  color: var(--button-#{$state}-color);
  border-color: var(--button-#{$state}-border);
  background-color: var(--button-#{$state}-background);
}

@mixin button-base {
  @include button-base-state("default");

  &:hover {
    @include button-base-state("hover");
  }

  &:focus {
    @include button-base-state("focus");
  }

  &:active {
    @include button-base-state("active");
  }

  &:disabled {
    @include button-base-state("disabled");
  }
}

$button-blue-schema: (
  default: (
    color: white,
    border: $color-blue,
    background: $color-blue,
  ),
  hover: (
    color: white,
    border: $color-blue--dark,
    background: $color-blue--dark,
  ),
  focus: (
    color: white,
    border: $color-blue--dark,
    background: $color-blue--dark,
  ),
  active: (
    color: white,
    border: $color-orange,
    background: $color-orange,
  ),
  disabled: (
    color: white,
    border: gray,
    background: gray,
  ),
);


$button-slider-control-schema: (
  default: (
    color: $color-blue,
    border: transparent,
    background: transparent,
  ),
  hover: (
    color: lighten($color-blue, 10%),
    border: lighten($color-blue, 10%),
    background: transparent,
  ),
  focus: (
    color: lighten($color-blue, 10%),
    border: lighten($color-blue, 10%),
    background: transparent,
  ),
  active: (
    color: white,
    border: $color-blue,
    background: $color-blue,
  ),
  disabled: (
    color: rgba($color-blue, 0.4),
    border: transparent,
    background: transparent,
  ),
);

$button-height: 52px;

.Button {
  $block: &;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  overflow: visible;
  vertical-align: middle;
  appearance: none;

  min-width: 190px;
  height: $button-height;
  min-height: 40px;

  margin: 0;
  padding: 0 24px;

  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  text-decoration: none;

  border-radius: 0;
  border-style: solid;
  border-width: 1px;

  transition: 0.25s ease-in-out;
  transition-property: color, border, background-color;

  @include button-base;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &--active {
    @include button-base-state("active");

    pointer-events: none;
  }

  &--noEvents {
    pointer-events: none;
  }
}
